.auxiliar-body {
	position:absolute;
	top:40%;
	left:50%;
	width:50%;
	height:40%;
	margin-left:-350px;
	margin-top:-150px;
}

.center{
	text-align: center;
}

.input-group-button{
	position: relative;
	left: 40%;
	top: 50%
}

.button-group{
	position: relative;
	left: 80%;
}